.footer__container{
    row-gap: 3rem;
}

.footer__logo{
    color: var(--title-color);
    font-size: var(--h2-font-size);
    font-weight: var(--font-medium);
    display: inline-block;
    margin-bottom: .75rem;
}

.footer__content,
.footer__links{
    display: grid;
}

.footer__content{
    grid-template-columns: repeat(2, max-content);
gap: 3.5rem 3rem;
}

.footer__title{
    font-size: var(--h3-font-size);
    margin-bottom: 1.25rem;
}


.footer__links{
    row-gap: .75rem;
}

.footer__link,
.footer__information{
    font-size: var(--small-font-size);
}

.footer__link{
    color: var(--title-color);
    transition: .3s;
}

.footer__link:hover{
    text-decoration: underline;
    color: var(--title-color);
}

.footer__social{
    display: flex;
    column-gap: .5rem;
}

.footer__social-link{
    display: inline-flex;
    color: var(--title-color);
    padding: .4rem;
    background-color: var(--container-color);
    font-size: 1.25rem;
    transition: background-color .3s;
}

.footer__social-link:hover{
    background-color: var(--bg-color-light);
}

.footer__info{
    margin-top: 6rem;
    padding-bottom: 6rem;
display: flex;
flex-direction: column;
align-items: center;
row-gap: .75rem;
}

.footer__copy,
.footer__privacy{
    font-size: var(--small-font-size);
    color: var(--text-color-light);
}

